body {
	font-size: 16px;
	color: #fff;
	background-color: #880C0C;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../img/logo.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand  {
	padding-top: 45px;
}

.navbar-brand h1 { /* restaurant name */
	font-family: 'Lora', serif;
	color: white;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #880C0C;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p { /* Kosher cert */
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 10px;
}

.navbar-brand p span { /* Star-K */
	vertical-align: middle;
 }

 #nav-list {
 	margin-top: 0px;
 	margin-right: 10px;
 }

 #nav-list a {
 	color: black;
 	text-align: center;
 }

 #nav-list a:hover {
 	color: #880C0C;
 }

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 0;
}

#phone a {/* Phone number */
	text-align: right;
	padding-bottom: 0;
}

#phone a:hover {
	text-decoration: none;
}

#phone div{/* We Deliver */
	color: white;
	text-shadow: 1px 1px 1px #880C0C;
	text-align: right;
}

.navbar-header button.navbar-toggler {
	border: 1px solid white;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.active {
 	text-shadow: 1px 1px 1px #880C0C;
 }

/* END OF HEADER */

/** HOME **/
.container .jumbotron {
	box-shadow: 0 0 20px white;
	border: 2px solid white;
	margin-top: 20px;
}

/********** Large Devices only **********/
@media (min-width: 1200px) {
	.container .jumbotron {
		background: url("../img/jumbotron-lg.jpg") no-repeat;
		height: 688px;
	}
}

/********** Medium Devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	/* Header */
	#logo-img {
		background: url("../img/logo-md.png") no-repeat;
		width: 100px;
		height: 100px;
		margin: 20px 5px 5px 0;
	}
	/* End of Header */
	.container .jumbotron  {
		background: url("../img/jumbotron-md.jpg") no-repeat;
		height: 533px;
	}

}

/********** Small Devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron  {
		background: url("../img/jumbotron-sm.jpg") no-repeat;
		height: 413px;
	}

	
}

/********** Extra Small Devices only **********/
@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1 { /* Restaurant name */
		padding-top: 10px;
		font-size: 5vw;
	 }

	.navbar-brand p { /* Kosher cert */
		font-size: .6em;
		margin-top: 12px;
	 }

	.navbar-brand p img { /* Star-K */
		height: 20px;
		width: 20px;
	}

	#collapsable-nav a { /* Collapsed nav menu glyph */
		font-size: 1.2em;
	 }

	#collapsable-nav a span { /* Collapsed nav menu glyph */
		font-size: 1.2em;
		margin-right: 5px;
	 }

	.container .jumbotron {
		padding: 0;
	}
}